<odoo>
    <data>

        <menuitem id="menu_animal" name="Demo Odoo 16" />
        <menuitem id="menu_dog" name="Animal" parent="menu_animal" action='testmodule.dog_action' />
        <menuitem id="menu_linhtinh" name="Linh Tinh" parent="menu_animal" action='testmodule.linhtinh_action_window' />
        <menuitem id="menu_mail_tempalte" name="Mail Template" parent="menu_animal" action='testmodule.mail_template_action_window' />

        <menuitem name="Menu Create Model" id="testmodule.testmodule_menu_1" parent="menu_animal"/>
        <menuitem name="Menu Inherit" id="testmodule.testmodule_menu_2" parent="menu_animal"/>

        <!-- actions -->
        <menuitem name="Model Demo" id="testmodule.testmodule_menu_1_list" parent="testmodule.testmodule_menu_1"
                  action="testmodule.testmodule_action_window"/>
        <menuitem name="Dũng Siêu Đẹp Trai" id="testmodule.testmodule_menu_dung" parent="testmodule.testmodule_menu_1"
                  action="testmodule.dungdz_action_window"/>
        <menuitem name="Sale Inherit" id="testmodule.testmodule_menu_2_list" parent="testmodule.testmodule_menu_2"
                  action="testmodule.test_ke_action_window"/>
    </data>
</odoo>